@mixin styleText($color,$fs,$fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin styleTextHover($color){
    color: $color;
}
@mixin styleButton($border-color,$bg-color,$pd-y,$pd-x,$radius){
    border: 1px solid $border-color;
    background-color: $bg-color;
    padding: $pd-y $pd-x;
    border-radius: $radius;
}
@mixin styleButtonHover($bg-color,$color){
    background-color: $bg-color;
    color: $color;
}
@mixin responsiveMax($screen){
    @if(map-has-key($map: $breakpoints, $key: $screen)){
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width:$value){
            @content;
        }
    }
    @else{
        @warn 'Màn hình không tồn tại';
    }
}
@mixin responsiveMin($screen){
    @if(map-has-key($map: $breakpoints, $key: $screen)){
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (min-width:$value){
            @content;
        }
    }
    @else{
        @warn 'Màn hình không tồn tại';
    }
}